<div class="navbar">
    <div class="navbar-left">
        <a href="/">Home</a>
        <a href="blog">Blog</a>
        <a href="create-blog">Create Blog</a>
        <a href="about">About</a>
        <a href="contact_list">Contact List</a>
    </div>
    <div class="navbar-right">
        <a href="register">Register</a>
        <a href="login">Login</a>
    </div>
</div>